
.content {
    background: #F9E2C9;
}

.content-nav {
    background: #F9E2C9;
}

.nav {
    background-color:#F9E2C9;
    position:fixed;
    right:0;
    left:0;
}
html{
    background-color: #F9E2C9;
}

body {
    color: #424242;
    background: linear-gradient(-45deg, #F85F06, #F78A2C);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 80vh;
    font-size: 1.2rem;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


a, .btn {
    color: #03A3B9;
    transition: 0.1s;
}

.n-link {
    margin: 0 0.5em;
}


a:hover, .btn:hover {
    color: #F85F06;
}


h1, .h1 {
    font-size: 4rem;
    font-weight: bold;
    text-transform: lowercase;
    color: #8C1812;
    line-height: 0.9;
}

h2, .h2 {
    font-size: 1.7rem;
    font-weight:bold;
    text-transform: lowercase;
}

h2::before { 
    display: block; 
    content: " "; 
    margin-top: -80px; 
    height: 80px; 
    visibility: hidden; 
    pointer-events: none;
  }

h3, .h3 {
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: lowercase;
    color: #8C1812;
}


h4, .h4 {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: lowercase;
    margin-bottom: 0;
}

h5 {
    color:#343434;
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 0;
}

.navbar {
    padding: 0.7rem 0;
    filter: drop-shadow(1px -15px 16px #8C1812);
}

.h5Alt {
    color:#5C5651;
}

p, .p, ul {
    margin-bottom: 2rem;
}

a {
    font-size: 1;
    text-decoration: none;
    text-transform: lowercase;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    transition: 0.3s;
}

.p-lead {
    font-size: 1.5rem;
}

ul {
    margin-bottom: 3rem;
}

li {
    margin-bottom: 1rem;
} 

.btn {
    background-color: transparent;
    border-color: transparent;
    font-family: 'Karla', sans-serif;
    padding: 0;
}

.btn:hover {
    background-color:transparent;
    border-color:transparent;
    filter: drop-shadow(3px 1px 0px #8C1812);
}

.flex {
    display:flex;
}

.homeHeader {
    padding: 150px 100px 80px 0px;
    justify-content: left;
}

.sticky {
    position:sticky;
    height: 200px;
    top: 6rem;
}



.subtle {
    opacity: 50%;
    transition: 0.3s;
}

.subtle:hover {
    opacity: 100%;
}

.content-img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

@media only screen and (max-width: 991px) {
    .sticky {
        position:relative;
        display: block;
        top: 0;
        text-align: left!important;
        height: inherit;
    }
    .subtle {
        opacity: 100%;
    }
}

.image-description {
    font-style:italic;
}

#overview {
    background-color: #FFEBD4;
    padding: 40px;
}

.video {
    width:100%;
}